<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button menu="custom-menu-bar"></ion-menu-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-back-button defaultHref="/escolher-endereco"></ion-back-button>
        </ion-buttons>
        <ion-title>Forma de Pagamento</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form #form="ngForm" (ngSubmit)="false">
        <ion-list>
            <ion-radio-group #tipo name="tipo" value="pagamentoComCartao" [(ngModel)]="pagamento.tipo">
                <ion-list-header mode="ios">
                    <ion-label>Tipo de Pagamento</ion-label>
                </ion-list-header>

                <ion-item>
                    <ion-label>Pagamento com Cartão</ion-label>
                    <ion-radio value="pagamentoComCartao"></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-label>Pagamento com Boleto</ion-label>
                    <ion-radio value="pagamentoComBoleto"></ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-list>

        <ion-item *ngIf="tipo.value == 'pagamentoComCartao' ">
            <ion-label mode="ios">Parcelas no Cartão:</ion-label>
            <ion-select #nparcelas name="nparcelas" [(ngModel)]="pagamento.parcelas">
                <ion-select-option *ngFor="let p of parcelas" (NgValue)="p">{{ p }}</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-button expand="block" fill="clear" shape="round" (click)="proximo()">
            Próximo
        </ion-button>
    </form>
</ion-content>