<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button menu="custom-menu-bar"></ion-menu-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-back-button defaultHref="carrinho-de-compras" text=""></ion-back-button>
        </ion-buttons>
        <ion-title>Endereço</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>
            <ion-label>Selecione o endereço de entrega:</ion-label>
        </ion-list-header>

        <ion-item button *ngFor="let item of cliente?.enderecos || []" (click)="selecionarEndereco(item)">
            <ion-label>
                <h2>{{ item.logradouro }}, {{ item.numero }}</h2>
                <p> {{item.cidade.nome}}, {{item.cidade.estado.nome}} </p>
                <p>CEP: {{ item.cep }}</p>
                <p> {{ item.bairro }} - {{ item?.complemento }}</p>
            </ion-label>
        </ion-item>
    </ion-list>
    
</ion-content>